body{
    padding: 0;
    margin: 0;
    transition: 1s;
    scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

main .side-bar{
    background: url(./images/image_2\ \(1\).jpg);
    transition: .2s;
    height: 100%;
    position: fixed;
    width: 0%;
    overflow: scroll;
    text-align: center;
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.189);
    background-size: cover;
    z-index: 1000;
}

#sideBar.valid{
  width:60%;
}

#mainContent.valid {
  opacity: 0.4;
}

#result.valid{
  opacity: 0.4;
  transition: 1s;
}

#body.valid{
  overflow: hidden;
}

main .side-bar-content{
    max-width: 1440px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(57, 131, 241, 0.575);
    transition: .5s;
}

#sideBarContent.valid{
  background-color: rgba(0, 0, 0, 0.566);
  transition: .5s;
}

main .side-bar-content .content{
    margin-top: 1em;
    transition: 2s;
}

main .side-bar-content .content .head img{
    width: 30%;
    border-radius: 10em;
    transform: translateY(-200px);
}

main .side-bar-content .content .head h2{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-weight: 900;
    transform: translateX(300px);
    margin-bottom: .5em;
}

main .side-bar-content .content .email p{
    margin-top: 2em;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

main .side-bar-content .content .email input{
    padding: .7em;
    border-radius: .4em;
    outline: none;
    border: none;
    width: 90%;
}

main .side-bar-content .content .button{
    margin-top: 1em;
}

main .side-bar-content .content button{
    width: 4em;
}

.list a{
    color: whitesmoke;
    text-decoration: none;
    transition: 1s;
}


ul{
    margin-top: 0em;
}

li{
    list-style-type: none;
    margin-bottom: 1.8em;
    text-align: start;
    font-size: 1.2em;
    font-weight: 900;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


main .main-content{
    width: 100%;
    transition: 1s;
    margin-left: 0%;
    position: relative;
    max-width: 1440px;

}

#main-content.active h3,#main-content.active span , #main-content.active sup ,#main-content.active h4 , #main-content.active .artH2,#main-content.active i{
  transition: .5s;
  color: whitesmoke;
}

#toggleSideBars.active{
  color: white;
}

#carBtn.active{
  background-color: rgba(0, 0, 0, 0.685);
}

#body{
  transition: .5s;
}

#body.active{
  transition: .5s;
  animation: Blink 4s infinite ease-in-out;
}

@keyframes Blink {
  from{
    background-color: rgba(0, 0, 0, 0.826);
  }

  30%{
    background-color: rgba(0, 0, 0, 0.731);
  }

  60%{
    background-color: rgba(0, 0, 0, 0.685);
  }

  to{
    background-color: rgba(0, 0, 0, 0.826);
  }
}

main .heading{
    height: 500px;
    position: relative;
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.267);
}

main .heading img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    animation: enlarge 6s infinite ease-in-out;
}

main .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.324);
    transform: translateY(-500px);
}

main .overlay .over-content{
    background-color: rgba(245, 245, 245, 0.235);
    padding: .5em;
    width: 40%;
    color: whitesmoke;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom-right-radius: .5em;
}

main .carousel-item h2{
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

main .carousel-item p{
    font-style: italic;
    font-weight: 900;
    margin-bottom: 3em;
}

.search-input{
  display: inline;
  position: absolute;
  transform: translateX(70px) translateY(-58px);
}

.search-input input{
  text-align: center;
  box-shadow: .1em .1em  .5em rgba(0, 0, 0, 0.192);
  outline: none;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: .5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
}

.search-input .search-icon{
  position: absolute;
  right: 0;
  transform: translateY(5px) translateX(0px);
  font-size: 1.2em;
}


.main-content .artcles-heading h2{
  margin-top: 0em;
}

.main-content .artcles-heading{
    margin-top: 2em;
    color: rgba(0, 0, 0, 0.895);
    padding: 1em;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-content .artcles-heading p{
    color: rgba(0, 0, 0, 0.45);
    font-weight: 900;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}


@keyframes enlarge {
    from {transform: scale(1.0);}
    50%{transform: scale(1.3);}
    100%{transform: scale(1.6);}
    to {transform: scale(1.0);}

  }

  .articles-body{
    margin-top: 1em;
    margin-bottom: 0em;
    width: 100%;
    padding: 2em;
    max-width: 1440px;
    transition: 1s;
  }

  .articles-body .col-sm-4 img{
    width: 250px;
    height: 350px;
    border-radius: .5em;
    object-fit: fill;
    position: relative;
  }

  .sec-over{
    border-radius: .5em;
    position: absolute;
    z-index: 10;
    height: 0%;
    transition: .4s ease-in;
    width: 70.5%;
    visibility: hidden;
  }

  .first:hover .sec-over {
    height: 0%;
    visibility: visible;
    cursor: pointer;
  }

  .date-btn{
    background-color: rgba(255, 255, 255, 0.354);
    padding: .2em;
    border-radius: .4em;
  }

  .over-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .col-sm-4:hover{
    cursor: pointer;
  }

  .articles-body .col-sm-4{
    margin-bottom: 3em;
  }

  .articles-body .col-sm-4 p{
    font-size: 1.3;
    font-weight: 900;
    color: orangered;
    margin-top: .3em;
  }

  .articles-body .col-sm-4 h3{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.769);
  }

  .articles-body .col-sm-4 span{
    color: rgba(0, 0, 0, 0.358);
    font-style: italic;
    display: block;
  }

  .articles-body .col-sm-4 a{
    margin-top: .1em;
    font-weight: 900;
    border: none;
    transition: .5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .articles-body .col-sm-4 .d-flex{
    margin: .5em;
    padding: .2em;
  }

  .articles-body .col-sm-4 .d-flex i{
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.527);
  }

  .articles-body .col-sm-4 .d-flex sup{
    font-weight: 900;
    color: rgba(0, 0, 0, 0.527);
  }

  .articles-body .row{
    margin-bottom: 5em;
  }

  #like.valid,#like1.valid,#like2.valid,#like3.valid,#like4.valid,#like5.valid,#like6.valid,#like7.valid,#like8.valid,#like9.valid,#like10.valid,#like11.valid,#like12.valid,#like13.valid,#like14.valid,#like15.valid{
    color: red;
    transition: .8s;  
    transform: scale(1.2) rotateY(360deg);
  }

  #seen.valid,#seen1.valid,#seen2.valid,#seen3.valid,#seen4.valid,#seen5.valid,#seen6.valid,#seen7.valid,#seen8.valid,#seen9.valid,#seen10.valid,#seen11.valid,#seen12.valid,#seen13.valid,#seen14.valid,#seen15.valid{
    color: rgba(57, 152, 235, 0.909);
    transition: .8s;
    transform: scale(1.2) rotateY(360deg);
  }

  i{
    transition: .2s;
  }

  i:hover{
    cursor: pointer;
  }

  .row .carousel .fade-btn button{
    z-index: 20;
    border: none;
    background-color: rgb(255, 255, 255);
    font-weight: 900;
    position: absolute;
    padding: .9em;
    border-bottom-right-radius: .5em;
    font-size: 1.3em;
  }
  
  .row .carousel .role-btn h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.701);
  }

  .row .carousel .role-btn{
    /* position: absolute; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: .5em;
  }

  .row .carousel .role-btn button{
    z-index: 20;
    border: none;
    background-color: rgba(249, 248, 244, 0);
  }

  .row .carousel .role-btn button span{
    border-radius: 5em;
    padding: .5em;
  }

  .col-sm-4 .row{
    transition: 1s;
  }
  
  .col-sm-4.valid{
    transition: 1s ;
    margin: 0% 35% ;
  }

  .col-sm-4.invalid{
    transition: 1s ;
    margin: 0% 0% ;
  }

  .modal-content{
    background: url(./images/image_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }


  .modal input , .modal textarea{
    margin-bottom: 1.6em;
    padding: .8em;
    border-radius: .3em;
    width: 90%;
    outline: none;
    border: none;
    margin-left: .5em;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.055);
  }


  .modal #comment.valid{
    background-color: rgb(0, 170, 255);
    padding: .7em;
    color: white;
    transition: .2s;
  }

  .modal #comment{
    border: none;
    background-color: rgba(47, 48, 49, 0.963);
    padding: .7em;
    color: rgba(255, 255, 255, 0.712);
    font-weight: 900;
    transition: .2s;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .modal #comment:hover{
    background-color:  rgb(15, 107, 154);
    transition: .2s;
  }

  .modal h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
  }


  #commentName.invalid{
    border: 1px solid red;
  }

  #topImg.valid{
    transition: 1s;
    transform: translateY(0px);
  }
  
  #blogs.valid{
    transition: 1s;
    transform: translateX(0px);
  }
  
  #home.valid{
    transition: 1s;
    transform: translateX(0px);
  }
  
  #home{
    transform: translateX(-300px);
  }
  
  #travel.valid{
    transition: 1s;
    transform: translateX(0px);
  }
  
  #travel{
    transform: translateX(500px);
  }

  #tech.valid{
    transition: 1s;
    transform: translateX(0px);
  }
  
  #tech{
    transform: translateX(-700px);
  }

  #photo.valid{
    transition: 1s;
    transform: translateX(0px);
  }
  
  #photo{
    transform: translateX(900px);
  }
  
  #about.valid{
    transition: 1s;
    transform: translateX(0px);
  }
  
  #about{
    transform: translateX(-1100px);
  }

  #contact.valid{
    transition: 1s;
    transform: translateX(0px);
  }
  
  #contact{
    transform: translateX(1300px);
  }

  #sub.valid{
    transition: 1s;
    transform: translateX(0px);
  }
  
  #sub{
    transform: translateX(-1500px);
  }

  #subInput.valid{
    transition: 1s;
    transform: translateX(0px);
  }
  
  #subInput{
    transform: translateX(1700px);
  }

  #subBtn.valid{
    transition: 1s;
    transform: translateX(0px);
  }
  
  #subBtn{
    transform: translateX(-1700px);
  }


  .fixedbtn{
    position: fixed;
    z-index: 2000;
    right: 0;
    /* display: none; */
    font-size: 2em;
    transform: translateY(500px);
    transition: .5s;
    opacity: 0.0;
  }

  .fixedbtn i{
    font-size: 2em;
    color: rgba(0, 0, 0, 0.553);
  }

  .fixedbtn button{
    outline: none;
  }


  #fixedbtn.valid{
    opacity: 1.0;
    /* display: inline; */
    transform: translateY(0px);
    transition: .5s;
  }


  
.reveals{
  transform: translateY(350px);
  opacity: 0;
}

.reveals.active{
  opacity: 1;
  transform: translateY(0px);
  transition:all 1s ease;
  transition: 1s;
}

.reveals1{
  transform: translateY(550px);
  opacity: 0;
}

.reveals1.active{
  opacity: 1;
  transform: translateY(0px);
  transition:all 1s ease;
  transition: 1s;
}

.reveals2{
  transform: translateY(750px);
  opacity: 0;
}

.reveals2.active{
  opacity: 1;
  transform: translateY(0px);
  transition:all 1s ease;
  transition: 1s;
}

.toggleDark{
  position: absolute;
  z-index: 200;
  right: 0;
  margin-right: 0em;
}

.toggleDark span{
  font-size: 1.3em;
  color: white;
  transition: 1s;
  font-weight: 900;
}

.toggleDark i{
  font-size: 1.5em;
  transition: 1s;
  color: white;
}

.toggleDark button{
  outline: red;
}

.showMedial i{
  font-size: 1.3em;
  background-color: black;
  border-radius: 10em;
  padding: .3em;
  margin: .3em;
}

.showMedial  a{
  text-decoration: none;
  color: whitesmoke;
}

#arrowOut{
  font-size: 1.5em;
}

#arrowOut.actives{
  transform: rotate(180deg);
  transition: .5s;

}

.showMedial{
  transform: translateX(204px) translateY(800px);
  margin-top: 10em;
  transition: .5s;
  position: fixed;
  z-index: 1000;
  right: 0;
  background-color: white;
  padding: .4em;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
  opacity: 0.0;
  box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.153);
}

#showMedial.valid{
  transform: translateX(204px) translateY(0px);
  transition: 1s;
  opacity: 1.0;
}

#showMedial.active{
  transform: translateX(0px);
  transition: .5s;
}

footer{
  transition: .5s;
  max-width: 1440px;
  background-color: #132238;
  padding: 1em;
  box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.153);
  margin: 0;
  margin-left: 0%;
}

footer span{
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.726);
  font-style: italic;
  font-weight: 900;
  margin-bottom: 2em;
  border-bottom: 1px solid white;
}

footer h4{
  margin-bottom: 2em;
  color: whitesmoke;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer .col-sm-4{
  padding: 2em;
}

footer .p{
  color: whitesmoke;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 2em;
}

.scroll{
  margin-left: 0%;
  margin-bottom: 8em;
  overflow: hidden;
  position: relative;
  height: 400px;
  box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.132);
  border-radius: .3em;
}


.scroll .slider{
  display: flex;
  transition: 1s;
  position: absolute;
  left: 0%;
  top: 0%;
  animation: primary 30s ease-in-out  infinite;
}

@keyframes primary {
  from{transform: translateX(0px);}
  10%{transform: translateX(-300px);}
  20%{transform: translateX(-600px);}
  30%{transform: translateX(-900px);}
  40%{transform: translateX(-1200px);}
  50%{transform: translateX(-1500px);}
  60%{transform: translateX(-1800px);}
  70%{transform: translateX(-2100px);}
  80%{transform: translateX(-2250px);}
  to{transform: translateX(-0px);}

}

.scroll .slider .slide{
  object-fit: cover;
}

.scroll img{
  width: 300px;
  height: 400px;
}

.scroll .over{
  background-color: rgba(0, 0, 0, 0.269);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 50;
  text-align: center;
}

.scroll .over2{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 50;
  text-align: center;
}

.scroll .over2 h2{
  transform: translateX(-10px);
  margin-top: 2em;
  color: whitesmoke;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
}

.scroll .over2 p{
  transform: translateX(-10px);
  font-size: 1.3em;
  color: rgba(245, 245, 245, 0.753);
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.goUp{
  position: fixed;
  z-index: 4000;
  right: 0;
  bottom: 0;
  transform: translateY(1300px);
  transition: 1s;
}



#goUp.valid{
  transform:translateY(-100px) rotate(90deg) translateY(10px);
  transition: 1s;
  opacity: 1.0;
}

.goUp i{
  font-size: 1.2em;
  background-color: rgba(0, 81, 255, 0.836);
  padding: .5em;
  border-radius: .3em;
}



.goUp .arrow1{
  position: absolute;
  animation: arrowUp1 2s infinite ease-in-out;
}

.goUp .arrow2{
  position: absolute;
  animation: arrowUp2 2s infinite ease-in-out;
}

.goUp .arrow3{
  position: absolute;
  animation: arrowUp3 2s infinite ease-in-out;
}

.goUp .arrow4{
  position: absolute;
  transform: translateX(0px);
  animation: arrowUp4 2s infinite ease-in-out;
}

@keyframes arrowUp1{
  from{transform: translateX(19px);}
  50%{transform: translateX(-10px);}
  to{transform: translateX(19px);}
}

@keyframes arrowUp2{
  from{transform: translateX(15px);opacity:1.0;}
  50%{transform: translateX(-10px);opacity: 0.0;}
  to{transform: translateX(15px);opacity: 1.0;}
}

@keyframes arrowUp3{
  from{transform: translateX(22px);opacity: 1.0;}
  50%{transform: translateX(-15px);opacity: 0.0;}
  to{transform: translateX(22px);opacity: 1.0;}
}

@keyframes arrowUp4{
  from{transform: translateX(24px);opacity: 1.0;}
  50%{transform: translateX(-20px);opacity: 0.0;}
  to{transform: translateX(24px);opacity: 1.0;}
}




  @media screen and (min-width:600px) {


    /* .list i{
      display: inline;
    } */

    
    li{
      list-style-type: none;
      margin-bottom: .8em;
    }

    main .side-bar-content .content button{
      width: 8em;
    }

    .list a{
      display: inline;
    }

    main .side-bar{
      width: 23%;
    }

    
  .search-input{
    display: inline;
    position: absolute;
    transform: translateX(290px) translateY(-62px);
  }

  .search-input .search-icon{
    position: absolute;
    transform: translateY(5px) translateX(-50px);
    font-size: 1.2em;
    left: 0;
  }

    .main-content{
      width: 77%;
      margin-left: 23%;
    }

    main .main-content{
      width: 77%;
      margin-left: 23%;
  
    }

    .articles-body img{
      width: 250px;
    }

    .date-btn{
      padding: .2em;
      border-radius: .4em;
    }
  
    main .overlay .over-content{
      padding: 1em;
      width: 20%;
      border-bottom-right-radius: .5em;
  }

  .first:hover .sec-over {
    height: 57.5%;
    visibility: visible;
    cursor: pointer;
  }


  .date-btn{
    background-color: rgba(255, 255, 255, 0.354);
    padding: .2em;
    border-radius: .4em;
  }

  .over-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
   }

  .sec-over{
    border-radius: .5em;
    position: absolute;
    z-index: 10;
    height: 0%;
    transition: .4s ease-in;
    width: 19.5%;
    visibility: hidden;  
    background: rgb(213,99,19);
    background: linear-gradient(90deg, rgba(213,99,19,0.9616888991924895) 3%, rgba(224, 164, 25, 0.559) 41%);
    
    }


    .search-input input{
      text-align: center;
      box-shadow: .1em .1em  .5em rgba(0, 0, 0, 0.192);
      outline: none;
      width: 200%;
      padding: 1em;
      border: none;
      border-radius: .5em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 900;
    }

    footer{
      padding: 4em;
      margin: 0;
      margin-left: 22%;
    }
    

    .scroll{
      margin-bottom: 8em;
      overflow: hidden;
      position: relative;
      height: 400px;
    }
  
    .scroll .over2 h2{
      margin-top: 4em
    }

  }